body {
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img {
  width: 100px;
  height: 80px;
  margin: 40px 0 0px 60px;
}

header nav ul {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  font-size: 3.5vh;
  text-decoration: none;
  color: gray;
}

header .active {
  text-decoration: underline;
  text-decoration-color: rgb(6, 180, 228);
  text-decoration-thickness: 4px;
}

.category {
  margin: 10px 0 0 60px;
}

.page {
  width: 40%;
  height: 35px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page button {
  border: 2px solid rgb(6, 180, 228);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(6, 180, 228);
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.page button:hover,
.page button:focus,
.page button:active {
  background-color: rgb(6, 180, 228);
  color: white;
}

.page button:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.movie-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie {
  flex-basis: 22%;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 10px 0 10px;
}

.movie-poster {
  width: 100%;
}

.movie-info {
  padding-top: 10px;
}

.movie-title {
  font-size: 3vh;
  font-weight: bold;
  display: block;
  text-align: center;
  color: gray;
  margin: auto;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.movie-title:hover,
.movie-title:focus,
.movie-title:active {
  color: rgb(144, 206, 161);
}

.movie-rating {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.movie-rating button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-close {
  float: right;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 80px auto;
  padding: 30px 40px;
  width: 60%;
  height: 60%;
}

.modal-movie-poster {
  flex-basis: 30%;
}

.modal-movie-poster img {
  width: 100%;
  height: 100%;
}

.modal-body {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-movie-info {
  width: 50%;
  flex-basis: 65%;
  color: gray;
}

.modal-movie-info span {
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-movie-title {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 20px;
}

.movie-overview p {
  max-height: 120px;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

.movie-genres {
  margin-bottom: 10px;
}

.movie-genres span {
  display: block;
}

.movie-genres p {
  display: inline-block;
  background-color: rgb(144, 206, 161);
  color: white;
  border-radius: 5px;
  padding: 12px 15px;
  text-align: center;
  margin: 0 5px;
}

.movie-production span {
  display: block;
}

.company-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.liked {
  color: red;
}
